alias ll="ls -laF"
alias la='ls -A'
alias l='ls -CF'
alias mkdir="mkdir -pv"
alias ..="cd .."
alias ~="cd ~"

freeze() {
  local filename=${1:-requirements.txt}
  pip freeze > "$filename"
}

mkcd ()
{
  mkdir -p -- "$1" && cd -P -- "$1"
}
